@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header .line {
  background-color: #117050;
  height: 10px;
}

.bar{
  background-color: #117050;
  width: 168px;
  height: 22px;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 90px;
  margin: 0;
  margin-bottom: 30px;
}

h2{
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  margin: 20px 0;

}

.button{
  border: 2px solid #454545;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 3px;
  color: #454545;
  text-decoration: none;
}
.button:hover{
  color: #fff;
  background-color: #454545;
}
.conteiner {
  max-width: 1140px;
  margin: auto;
}

.header--area {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.logo img {
  width: 64px;
  height: 64px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-search form {
  display: flex;
}
.header-search input {
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid #999999;
  outline: none;
  width: 100%;
  max-width: 250px;
}
.header-search button {
  border: none;
  background: transparent;
  margin-left: -30px;
  cursor: pointer;
}
.header-search button img {
  width: 16px;
  height: 16px;
}

.header-menu {
  margin-left: 50px;
  cursor: pointer;
}
.header-menu img {
  width: 24px;
  height: 24px;
}

.banner {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner .conteiner--imgs {
  margin-top: 60px;
}
.banner .conteiner--imgs img {
  width: 148px;
  height: 148px;
  border: 6px solid #117050;
  border-radius: 50%;
  margin-right: 40px;
}
.area1,
.area2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area1--content,
.area2--content{
  padding: 80px;
}
.area1--quote{
  margin-bottom: 30px;
  font-style: italic;
}
.area1--text,
.area3--text,
.area4--text{
  margin-bottom: 50px;
  line-height: 25px;
}
.area1--img1{
  background-color: green;
  background-image: url('../images/f2.jpg');
  height: 350px;
  background-position: center;
  background-size: cover;
}
.area1--img2{
  background-color: red;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url('../images/f1.jpg');
  background-position: center;
  background-size: cover;
}


.area2--img1{
  background-color: green;
  background-image: url('../images/f4.jpg');
  height: 350px;
  background-position: center;
  background-size: cover;
}
.area2--img2{
  background-color: red;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url('../images/f3.jpg');
  background-position: center;
  background-size: cover;
}

.area3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area3--content{
  background-color: blue;
  background-image: url('../images/bg2.jpg');
  background-position: left;
  background-size: cover;
  padding: 200px 80px;
}
.area3--img{
  background-color: blueviolet;
  background-image: url('../images/f5.jpg');
  background-position: center;
  background-size: cover;
}

.area4{
  display: grid;
  grid-template-columns: 500px 1fr;
  background-color: #e8e9ee;
}
.area4--content{
  padding: 150px 80px;
}
.area4--img1{
  background-image: url('../images/bg3.jpg');
  background-position: left;
}

.area5{
  background-image: url('../images/bg4.jpg');
  background-position: center;
  background-size: cover;
  height: 600px;
}

footer{
  background-color: #333333;
  color: #fff;
  padding: 50px;
  text-align: center;
}
footer p{
  margin-bottom: 100px;
}
footer a{
  color: #a8f8dd;
}
footer a:hover{
  text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1140px) {
  .conteiner{
    padding: 0 20px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .area1{
    grid-template-columns: 3fr 2fr;
  }
  .area2{
    grid-template-columns: 2fr 3fr;
  }
  .area3{
    grid-template-columns: 3fr 2fr;
  }
}
@media (max-width: 425px) {
  
}