.conteiner{
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(3, 1fr);

}
.item{
    background-color: #0f0;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
}
.item1{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.item11{
    grid-column: 1 / span 3;
}